**/.angular
**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/dist
**/Dockerfile*
**/node_modules
**/tmp
azure-pipelines.yml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**