<div class="po-wrapper">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
 
  <!-- Menu principal do Agent -->
  <po-menu
    p-collapsed="true"
    [p-menus]="menus"
    p-collapsed
           p-automatic-toggle="true"
  >
    <ng-template p-menu-header-template>
      <h2 class="menu-title po-menu-item">
        {{ programName }} - {{ version }}
      </h2>
    </ng-template>
  </po-menu>
  

    <!-- Raiz de redirecionamento para roteamento do Angular -->
          <router-outlet></router-outlet>
      </div>
