<po-page-list [p-title]="lbl_title">
  
  <!-- Componente de animação de carregamento do Portinari.UI -->
  <po-loading-overlay [hidden]="(po_lo_text.value == null)" p-screen-lock="true" [p-text]="po_lo_text.value"></po-loading-overlay>
  
  <form #configurationForm="ngForm">
    <div class="po-row-50">
      <div class="po-row fields margin-top">
      
        <!-- Seletor de idioma (botões) -->
        <div class="subtitle po-sm-12 po-md-12 po-lg-12 po-xl-12">
          <po-label [p-label]="lbl_locale" [p-field]="true" />
          <po-button-group
            [p-buttons]="CNST_LANGUAGES"
            p-toggle="single">
          </po-button-group>
        </div>
        
        <!-- Fuso horário das datas -->
        <po-select name="po_timezone"
          class="form-control po-md-12 po-lg-12"
          [p-label]="lbl_timezone"
          [p-options]="_CNST_TIMEZONES"
          p-required="true">
        </po-select>
      </div>
    </div>

    <!-- Rodapé do formulário -->
    <div class="po-row footer">
      <po-button class="removeBorder padding-0 po-button" p-size="medium" [p-label]="lbl_apply" (p-click)="setConfiguration()" />
    </div>
    
  </form>
</po-page-list>